body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Bebas Neue', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  border-bottom: 3px solid #7927b6;
  margin-bottom: 10px;
}

.desc_container {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
  height: 400px;
  padding: 1.5rem;
}

.container {
  margin-top: 40px;
}
.card_container {
  width: 100%;
  height: 200px;
}

.page-footer {
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  color: #444;
  padding: 40px 0;
  margin: 100px 0px 0px 0px;
}

.blurred {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
